@tailwind base;
@tailwind components;
@tailwind utilities;
 

.cl-formButtonPrimary {
  font-size: 14px;
  text-transform: none;
  background-color: #1023f4;
}
 
.cl-formButtonPrimary:hover,
.cl-formButtonPrimary:focus,
.cl-formButtonPrimary:active {
  background-color: #250ff1;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }
}

.black-and-white-toast {
  color: black; /* Setting text color to black */
  background-color: white; /* Setting background color to white */
}
